:root {
    /* Primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    /* Neutral */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    /* font-family: 'Fraunces', serif; */
    /* font-family: 'Montserrat', sans-serif; */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background-color: #f3eae3;
}

.contentWrapper{
    border-radius: 12px;
    box-shadow: 1px 1px 50px lightgray;
}

.image_mobile{
    background-color: white;
    border-radius: 12px;

    display: block;
    width: 345px;
    height: 240px;
    border-radius: 12px 12px 0px 0px;
}

.image_desktop{
    display: none;
}

.text_container{
    display: inline-block; /* quito el espacio entre los contenedores */
    width: 345px;
    height: 370px;
    padding: 25px;
    border-radius: 0px 0px 12px 12px;
    background-color: aliceblue;
    box-sizing: border-box; /* El padding se incluirá en el tamaño total del elemento */
}

.text_container h3{
    color: var(--Dark-grayish-blue);
    font-size: 14px;
    letter-spacing: 3px;
    margin: 0;
}
.text_container h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 1;
    font-size: 33px;
    margin: 15px 0px ;
}
.description_text {
    color: var(--Dark-grayish-blue);
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
}

.discounted-price {
    color: darkgray;
    text-decoration: line-through;
}

.price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    vertical-align: middle;
    color: var(--Dark-cyan);
    margin-right: 20px;
    font-size: 35px;
    text-decoration: none;
}
.description_text,.discounted-price, h3, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.button_add{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: var(--White);
    font-size: 14px;
    background-color: var(--Dark-cyan);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_add:hover{
    background-color: #1a4031;
}

.button_add img{
    margin-right: 6px;
}

.attribution{
    margin-top: 20px;
}

@media (min-width:1440px) {

    .contentWrapper{
        display: flex;
        width: 600px;
        height: 450px;
    }
    .image_mobile{
        display: none;
    }

    .image_desktop{
        display: inline;
        border-radius: 12px 0px 0px 12px;
        width: 300px;
        height: 450px;
    }

    .text_container{
        height: auto;
        border-radius: 0px 12px 12px 0px;
    }
    .text_container h3{
        margin-top:10px;
    }
    .text_container h1{
        padding-right:10px;
    }
    .description_text {
        padding:10px 10px 10px 0px;
    }
    .button_add{
        margin-top:20px ;
    }
}
